scripts/cra-xsds/t5013sch08.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Description: Specialty Business Returns -Net Income(Loss) For Income Tax Purposes (CRA Form T5013 SCH 8 E(11) )
Contact: CRA, ITB, Solutions, RASD, Business Suite Assessing System, Other Levies
Date created: December 2012
Updates: ols8/1-0-1 - November 2013 - added Min and Max for sequence elements 
		 sdt/updated reference to sdt/2-2-0
Users of this schema:
-Other Levies System
-->
<xsd:schema 
xmlns:ols8="http://www.cra-arc.gc.ca/enov/ol/interfaces/efile/partnership/ols8/1-0-1" 
xmlns:sdt="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" 
xmlns:ccms="http://www.cra-arc.gc.ca/xmlns/ccms/1-0-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"

targetNamespace="http://www.cra-arc.gc.ca/enov/ol/interfaces/efile/partnership/ols8/1-0-1" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="ols8/1-0-1">
<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" schemaLocation="standarddatatypes.xsd"/> 
<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/ccms/1-0-0" schemaLocation="cracommonstructures.xsd"/> 	
<!-- T5013Schedule8Data is also referenced by other schemas for importing purposes -->
	<xsd:element name="T5013Schedule8Data" type="ols8:Schedule8DataType"/>
	<xsd:complexType name="Schedule8DataType">
		<xsd:sequence>
			<!-- Part 1 -->
			<xsd:element ref="ols8:AssociatedEPOPIndicator" minOccurs="0"/>
			<xsd:element ref="ols8:Schedule8AgreementDetails" minOccurs="0" maxOccurs="2000"/>
			<xsd:element ref="ols8:ImmediateExpensingLimitAmount"  minOccurs="0" maxOccurs="1"/>
		    <!-- Part 2 -->
		    <xsd:element ref="ols8:CcpcIndicator" minOccurs="0"/>
		    <xsd:element ref="ols8:MultipleSourceIncomeIndicator" minOccurs="0"/>
			<xsd:element ref="ols8:Schedule8IncomeDetails" minOccurs="0" maxOccurs="2000"/>
			<xsd:element ref="ols8:NetIncomePreCCA"  minOccurs="0" maxOccurs="1"/>
			<!-- Part 3 -->
			<xsd:element ref="ols8:Schedule8CapitalCostAllowanceDetails" minOccurs="0" maxOccurs="2000"/>
			<xsd:element ref="ols8:CCARecaptureTotalAmount"  minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="ols8:TerminalLossTotalAmount"  minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="ols8:ClaimedCCATotalAmount"  minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Schedule8AgreementDetails" type="ols8:Schedule8AgreementDetailsType"/>
	<xsd:complexType name="Schedule8AgreementDetailsType">
		<xsd:sequence>
			<xsd:element ref="ols8:EPOPName"  minOccurs="0" />
			<xsd:element ref="ols8:IDNumber"  minOccurs="0" />
			<xsd:element ref="ols8:PercentageAssigned"  minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	 <xsd:element name="Schedule8IncomeDetails" type="ols8:Schedule8IncomeDetailsType"/>
	<xsd:complexType name="Schedule8IncomeDetailsType">
		<xsd:sequence>
			<xsd:element ref="ols8:SourceOfIncome"  minOccurs="0" />
			<xsd:element ref="ols8:IncomePreCCADeductions"  minOccurs="0" />
			<xsd:element ref="ols8:AggregateDiep"  minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="Schedule8CapitalCostAllowanceDetails" type="ols8:Schedule8CapitalCostAllowanceDetailsType"/>
	<xsd:complexType name="Schedule8CapitalCostAllowanceDetailsType">
		<xsd:sequence>
			<xsd:element ref="ols8:CCAClassNumber"  minOccurs="0" />
			<xsd:element ref="ols8:OpeningUCCAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCAAcquisitionCostAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCAAcquisitionCostDIEPAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCANetAdjustmentAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCADispositionAssistanceReceivedAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCADispositionRepaidAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCADispositionProceedsAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCADispositionProceedsDIEPAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCAUndepreciatedCapitalCostDIEPAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCAIncomeEarnedAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCAImmediateExpensingAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCAPropertyZEVAcquisitionAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCANonPropertyZEVAcquisitionAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCARatePercent"  minOccurs="0" />
			<xsd:element ref="ols8:CCARecaptureAmount"  minOccurs="0" />
			<xsd:element ref="ols8:CCATerminalLossAmount"  minOccurs="0" />
			<xsd:element ref="ols8:ClaimedCCAAmount"  minOccurs="0" />
			<xsd:element ref="ols8:ClosingUCCAmount"  minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	


	<!-- Part 1 -->
	<xsd:element name="AssociatedEPOPIndicator" type="ccms:OneTwoCodeType"/>
	<xsd:element name="EPOPName" type="ccms:Name175CharacterType"/>
	<xsd:element name="IDNumber" >
		<xsd:simpleType>
			<xsd:restriction base="sdt:NumberType">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="PercentageAssigned" type="sdt:PercentType"/>
	<xsd:element name="ImmediateExpensingLimitAmount" type="sdt:AmountType"/>
	
		<!-- Part 2 -->
    <xsd:element name="CcpcIndicator" type="ccms:OneTwoCodeType"></xsd:element>
    <xsd:element name="MultipleSourceIncomeIndicator" type="ccms:OneTwoCodeType"></xsd:element>
	<xsd:element name="NetIncomePreCCA" type="sdt:AmountType"></xsd:element>

	<xsd:element name="SourceOfIncome" type="ccms:Name175CharacterType"></xsd:element>
	<xsd:element name="IncomePreCCADeductions" type="sdt:AmountType"></xsd:element>
	<xsd:element name="AggregateDiep" type="sdt:AmountType"></xsd:element>
	
	<!-- Part 3 -->
	<xsd:element name="CCAClassNumber" type="sdt:NumberType"/>
	<xsd:element name="OpeningUCCAmount" type="sdt:AmountType"/>
	<xsd:element name="CCAAcquisitionCostAmount" type="sdt:AmountType"/>
	<xsd:element name="CCAAcquisitionCostDIEPAmount" type="sdt:AmountType"/>
	<xsd:element name="CCANetAdjustmentAmount" type="sdt:AmountType"/>
	<xsd:element name="CCADispositionAssistanceReceivedAmount" type="sdt:AmountType"/>
	<xsd:element name="CCADispositionRepaidAmount" type="sdt:AmountType"/>
	<xsd:element name="CCADispositionProceedsAmount" type="sdt:AmountType"/>
	<xsd:element name="CCADispositionProceedsDIEPAmount" type="sdt:AmountType"/>
	<xsd:element name="CCAUndepreciatedCapitalCostDIEPAmount" type="sdt:AmountType"/>
	<xsd:element name="CCAIncomeEarnedAmount" type="sdt:AmountType"/>
	<xsd:element name="CCAImmediateExpensingAmount" type="sdt:AmountType"/>
	<xsd:element name="CCAPropertyZEVAcquisitionAmount" type="sdt:AmountType"/>
	<xsd:element name="CCANonPropertyZEVAcquisitionAmount" type="sdt:AmountType"/>
	<xsd:element name="CCARatePercent" type="sdt:PercentType"/>
	<xsd:element name="CCARecaptureAmount" type="sdt:AmountType"/>
	<xsd:element name="CCATerminalLossAmount" type="sdt:AmountType"/>
	<xsd:element name="ClaimedCCAAmount" type="sdt:AmountType"/>
	<xsd:element name="ClosingUCCAmount" type="sdt:AmountType"/>
	<xsd:element name="CCARecaptureTotalAmount" type="sdt:AmountType"/>
	<xsd:element name="TerminalLossTotalAmount" type="sdt:AmountType"/>
	<xsd:element name="ClaimedCCATotalAmount" type="sdt:AmountType"/>
	
</xsd:schema>
