scripts/cra-xsds/t5013sch76.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
Description: Specialty Business Returns - Clean Technology Investment Tax Credit (CRA Form T5013 SCH 76 E )
Contact: CRA, ITB, Solutions, RASD, Business Suite Assessing System, Other Levies
Date created: October 2024
Users of this schema:
-Other Levies System

-->
<xsd:schema 
xmlns:ols76="http://www.cra-arc.gc.ca/enov/ol/interfaces/efile/partnership/ols76/1-0-1" 
xmlns:sdt="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" 
xmlns:ccms="http://www.cra-arc.gc.ca/xmlns/ccms/1-0-0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"

targetNamespace="http://www.cra-arc.gc.ca/enov/ol/interfaces/efile/partnership/ols76/1-0-1" 
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="ols76/1-0-1">
<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" schemaLocation="standarddatatypes.xsd"/> 
<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/ccms/1-0-0" schemaLocation="cracommonstructures.xsd"/> 	

<!-- T5013Schedule76Data is also referenced by other schemas for importing purposes -->
	<xsd:element name="T5013Schedule76Data" type="ols76:Schedule76DataType"/>
	<xsd:complexType name="Schedule76DataType">
		<xsd:sequence>
			<!-- Part 1 -->
			<xsd:element ref="ols76:Schedule76CalculationDetails"  minOccurs="0" maxOccurs="2000"/> 
			<xsd:element ref="ols76:Schedule76CalculationAllocatedAmount"  minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="ols76:Schedule76CalculationTotalAmount"  minOccurs="0" maxOccurs="1"/>

			<!-- Part 2 -->
			<xsd:element ref="ols76:Schedule76AllocationDetails"  minOccurs="0" maxOccurs="2000"/>

			<!-- Part 3 -->
			<xsd:element ref="ols76:Schedule76RecaptureDetails"  minOccurs="0" maxOccurs="2000"/> 
			<xsd:element ref="ols76:Schedule76RecaptureAllocatedAmount"  minOccurs="0" maxOccurs="1"/>
			<xsd:element ref="ols76:Schedule76RecaptureTotalAmount"  minOccurs="0" maxOccurs="1"/>

			<!-- Part 4 -->
			<xsd:element ref="ols76:Schedule76AllocationRecaptureDetails"  minOccurs="0" maxOccurs="2000"/>

		</xsd:sequence>
	</xsd:complexType>
	
	
	<!-- Part 1 - CTM ITC Calculation -->
	<xsd:element name="Schedule76CalculationDetails" type="ols76:Schedule76CalculationDetailsType"/>
	<xsd:complexType name="Schedule76CalculationDetailsType">
		<xsd:sequence>
			<xsd:element ref="ols76:CalculationCCAClassNumberText" minOccurs="0" />
			<xsd:element ref="ols76:CalculationPropertyDescriptionText" minOccurs="0" />
            <xsd:element ref="ols76:CalculationUseAssetCode" minOccurs="0" />
			<xsd:element ref="ols76:CalculationProvince" minOccurs="0" />
			<xsd:element ref="ols76:CalculationAvailableForUseDate" minOccurs="0" />
			<xsd:element ref="ols76:CalculationCapitalCostAmount" minOccurs="0" />
			<xsd:element ref="ols76:CalculationAdjustmentsAmount" minOccurs="0" />
			<xsd:element ref="ols76:CalculationAssistanceRepaidAmount" minOccurs="0" />
			<xsd:element ref="ols76:CalculationEligibleAmount" minOccurs="0" />
			<xsd:element ref="ols76:CalculationSpecifiedPercentage" minOccurs="0" />
			<xsd:element ref="ols76:CalculationITCAmount" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CalculationCCAClassNumberText" type= "sdt:NumberType"/>
    <xsd:element name="CalculationPropertyDescriptionText" type= "ccms:Character175TextType"/>
    <xsd:element name="CalculationUseAssetCode">
        <xsd:simpleType>
            <xsd:restriction base="sdt:CodeType">
                <xsd:length value="2"/>
            </xsd:restriction>
        </xsd:simpleType>
    </xsd:element>
	<xsd:element name="CalculationProvince"  type= "ccms:CanadianProvinceTerritoryCodeType"/>
	<xsd:element name="CalculationAvailableForUseDate" type="sdt:DateType"/>
	<xsd:element name="CalculationCapitalCostAmount" type="sdt:AmountType"/>
	<xsd:element name="CalculationAdjustmentsAmount" type="sdt:AmountType"/>
	<xsd:element name="CalculationAssistanceRepaidAmount" type="sdt:AmountType"/>
	<xsd:element name="CalculationEligibleAmount" type="sdt:AmountType"/>
	<xsd:element name="CalculationSpecifiedPercentage" type="sdt:PercentType"/>
	<xsd:element name="CalculationITCAmount" type="sdt:AmountType"/>
	<xsd:element name="Schedule76CalculationAllocatedAmount" type="sdt:AmountType"/>
	<xsd:element name="Schedule76CalculationTotalAmount" type="sdt:AmountType"/>
	
	
	<!-- Part 2 - Allocation of CTM ITC to qualified members -->
	<xsd:element name="Schedule76AllocationDetails" type="ols76:Schedule76AllocationDetailsType"/>
	<xsd:complexType name="Schedule76AllocationDetailsType">
		<xsd:sequence>
			<xsd:element ref="ols76:AllocationMemberNameText" minOccurs="0" />
			<xsd:element ref="ols76:AllocationAccountNumber" minOccurs="0" />
			<xsd:element ref="ols76:AllocationProportionPercentage" minOccurs="0" />
			<xsd:element ref="ols76:AllocationAllocatedAmount" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AllocationMemberNameText"  type= "ccms:Character175TextType"/>
	<xsd:element name="AllocationAccountNumber">
		<xsd:simpleType>
			<xsd:restriction base="sdt:NumberType">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AllocationProportionPercentage" type="sdt:PercentType"/>
	<xsd:element name="AllocationAllocatedAmount" type="sdt:AmountType"/>


	<!-- Part 3 - Recapture of CTM ITC -->
	<xsd:element name="Schedule76RecaptureDetails" type ="ols76:Schedule76RecaptureDetailsType" />
		<xsd:complexType name="Schedule76RecaptureDetailsType">
		<xsd:sequence>
			<xsd:element ref="ols76:RecaptureCCAClassNumberText" minOccurs="0" />
			<xsd:element ref="ols76:RecapturePropertyDescriptionText"  minOccurs="0" />
			<xsd:element ref="ols76:RecaptureProvince" minOccurs="0" />
            <xsd:element ref="ols76:RecaptureAvailableForUseDate" minOccurs="0" />
			<xsd:element ref="ols76:RecaptureITCAmount" minOccurs="0" />
			<xsd:element ref="ols76:RecaptureSpecifiedPercentage" minOccurs="0" />
			<xsd:element ref="ols76:RecaptureProceedsOfDispositionAmount" minOccurs="0" />
			<xsd:element ref="ols76:RecaptureCalculationAmount" minOccurs="0" />
			<xsd:element ref="ols76:RecaptureITCRecapturedAmount" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RecaptureCCAClassNumberText" type= "sdt:NumberType"/>
    <xsd:element name="RecapturePropertyDescriptionText" type= "ccms:Character175TextType"/>
	<xsd:element name="RecaptureProvince"  type= "ccms:CanadianProvinceTerritoryCodeType"/>
	
    <xsd:element name="RecaptureAvailableForUseDate" type="sdt:DateType"/>
	<xsd:element name="RecaptureITCAmount" type="sdt:AmountType"/>
	
	<xsd:element name="RecaptureSpecifiedPercentage" type="sdt:PercentType"/>
	<xsd:element name="RecaptureProceedsOfDispositionAmount" type="sdt:AmountType"/>
	<xsd:element name="RecaptureCalculationAmount" type="sdt:AmountType"/>
	<xsd:element name="RecaptureITCRecapturedAmount" type="sdt:AmountType"/>
	<xsd:element name="Schedule76RecaptureAllocatedAmount" type="sdt:AmountType"/>
	<xsd:element name="Schedule76RecaptureTotalAmount" type="sdt:AmountType"/>
	
	
	<!-- Part 4 - Allocation of CTM ITC recapture to members -->
	<xsd:element name="Schedule76AllocationRecaptureDetails" type="ols76:Schedule76AllocationRecaptureDetailsType"/>
	<xsd:complexType name="Schedule76AllocationRecaptureDetailsType">
		<xsd:sequence>
			<xsd:element ref="ols76:AllocationRecaptureMemberNameText" minOccurs="0" />
			<xsd:element ref="ols76:AllocationRecaptureAccountNumber" minOccurs="0" />
			<xsd:element ref="ols76:AllocationRecaptureProportionPercentage" minOccurs="0" />
			<xsd:element ref="ols76:AllocationRecaptureAllocatedAmount" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="AllocationRecaptureMemberNameText"  type= "ccms:Character175TextType"/>
	<xsd:element name="AllocationRecaptureAccountNumber">
		<xsd:simpleType>
			<xsd:restriction base="sdt:NumberType">
				<xsd:maxLength value="15"/>
			</xsd:restriction>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name="AllocationRecaptureProportionPercentage" type="sdt:PercentType"/>
	<xsd:element name="AllocationRecaptureAllocatedAmount" type="sdt:AmountType"/>
	
</xsd:schema>
