scripts/cra-xsds/t550.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:complexType name="T550Type">
			<xsd:sequence>
				<xsd:element name="filerName" minOccurs="0">
				</xsd:element>
				<xsd:element name="submissionDate" minOccurs="0">
				</xsd:element>
				<xsd:element name="contactPerson" minOccurs="0">
				</xsd:element>
				<xsd:element name="contactPhone" minOccurs="0">
				</xsd:element>
				<xsd:element name="filerAddress1" minOccurs="0">
				</xsd:element>
				<xsd:element name="filerAddress2" minOccurs="0">
				</xsd:element>
				<xsd:element name="filerCity" minOccurs="0">
				</xsd:element>
				<xsd:element name="filerProvince" minOccurs="0">
				</xsd:element>
				<xsd:element name="filerPostalCode" minOccurs="0">
				</xsd:element>
				<xsd:element name="specimen" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="issuerName" minOccurs="0">
							</xsd:element>
							<xsd:element name="specimenName" minOccurs="0">
							</xsd:element>
							<xsd:element name="specimenNumber" >
								<xsd:simpleType>
									<xsd:restriction base="xsd:string">
										<xsd:minLength value="1"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element name="contractYear" minOccurs="0">
							</xsd:element>
							<xsd:element name="contractCount" nillable="false" minOccurs="0">
							</xsd:element>
							<xsd:element name="contract" minOccurs="0" maxOccurs="unbounded">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="contractNumber" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantSIN" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantSalutation" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantFirstName" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantLastName" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantAddress1" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantAddress2" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantCity" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantProvince" minOccurs="0">
										</xsd:element>
										<xsd:element name="annuitantPostalCode" minOccurs="0">
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
</xsd:complexType>
</xsd:schema>

