scripts/cra-xsds/T619_PRPP.xsd

<?xml version="1.0"?>

<!--
Description	Layout topologie - Common Record Layout
Version#:	1.26 (version #.yy)
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:sdt="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0">
	<xsd:include schemaLocation="simple.xsd"/>
	<xsd:include schemaLocation="complex.xsd"/>
	<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" schemaLocation="standarddatatypes.xsd"/>

	<!-- @@@@    Common Record Layout     @@@@ -->
	<xsd:element name="Submission" type="ReturnType"/>
	<xsd:complexType name="ReturnType">
		<xsd:sequence>
			<xsd:element name="T619" type="TransmitterType"/>
			<xsd:element name="Return" type="PRPPReturnChoiceType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PRPPReturnChoiceType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="PRPP" type="PRPPReturnType" minOccurs="0">
					<xsd:key name="Unique_PRPP_Name">
						<xsd:selector xpath="PRPPSummary"/>
						<xsd:field xpath="AdministratorAccountNumber"/>
					</xsd:key>
					<xsd:keyref name="Slip_PRPP_Not_Equal_Summary_BN" refer="Unique_PRPP_Name">
						<xsd:selector xpath="PRPPSlip"/>
						<xsd:field xpath="AdministratorAccountNumber"/>
					</xsd:keyref>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
