scripts/cra-xsds/T619_RRSPOrRRIFNonQualifiedInvestment.xsd

<?xml version="1.0"?>

<!--
Description	Layout topologie - Common Record Layout
Version#:	1.26 (version #.yy)
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:sdt="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0">
	<xsd:include schemaLocation="simple.xsd"/>
	<xsd:include schemaLocation="complex.xsd"/>
	<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" schemaLocation="standarddatatypes.xsd"/>

	<!-- @@@@    Common Record Layout     @@@@ -->
	<xsd:element name="Submission" type="ReturnType"/>
	<xsd:complexType name="ReturnType">
		<xsd:sequence>
			<xsd:element name="T619" type="TransmitterType"/>
			<xsd:element name="Return" type="RRSPOrRRIFNQIReturnChoiceType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RRSPOrRRIFNQIReturnChoiceType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="RRSPOrRRIFNonQualifiedInvestment" type="RRSPOrRRIFNQIReturnType" minOccurs="0"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
