scripts/cra-xsds/T619_NR4.xsd

<?xml version="1.0"?>

<!--
Description	Layout topologie - Common Record Layout
Version#:	1.26 (version #.yy)
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:sdt="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0">
	<xsd:include schemaLocation="simple.xsd"/>
	<xsd:include schemaLocation="complex.xsd"/>
	<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" schemaLocation="standarddatatypes.xsd"/>

	<!-- @@@@    Common Record Layout     @@@@ -->
	<xsd:element name="Submission" type="ReturnType"/>
	<xsd:complexType name="ReturnType">
		<xsd:sequence>
			<xsd:element name="T619" type="TransmitterType"/>
			<xsd:element name="Return" type="NR4ReturnChoiceType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NR4ReturnChoiceType">
		<xsd:choice>
			<xsd:sequence>
				<xsd:element name="NR4" type="NR4ReturnType" minOccurs="0">
					<xsd:key name="Unique_NR4_Name">
						<xsd:selector xpath="NR4Summary"/>
						<xsd:field xpath="nr_acct_nbr"/>
					</xsd:key>
					<xsd:keyref name="Slip_NR4_Not_Equal_Summary" refer="Unique_NR4_Name">
						<xsd:selector xpath="NR4Slip"/>
						<xsd:field xpath="nr_acct_nbr"/>
					</xsd:keyref>
				</xsd:element>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>
</xsd:schema>
