scripts/cra-xsds/T619_T5013main.xsd

<?xml version="1.0"?>

<!--
Description	Layout topologie - Common Record Layout
Version#:	1.26 (version #.yy)
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:sdt="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0"
	xmlns:olsbr="http://www.cra-arc.gc.ca/enov/ol/interfaces/efile/partnership/olsbr/1-0-1">
	<xsd:include schemaLocation="simple.xsd"/>
	<xsd:include schemaLocation="complex.xsd"/>
	<xsd:include schemaLocation="t5013.xsd"/>
	<xsd:import namespace="http://www.cra-arc.gc.ca/enov/ol/interfaces/efile/partnership/olsbr/1-0-1" schemaLocation="t5013main.xsd"/>
	<xsd:import namespace="http://www.cra-arc.gc.ca/xmlns/sdt/2-2-0" schemaLocation="standarddatatypes.xsd"/>

	<!-- @@@@    Common Record Layout     @@@@ -->
	<xsd:element name="Submission" type="ReturnType"/>
	<xsd:complexType name="ReturnType">
		<xsd:sequence>
			<xsd:element name="T619" type="TransmitterType"/>
			<xsd:choice>

				<xsd:sequence>
					<xsd:element ref="olsbr:OLSBRT5013Data" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>

			</xsd:choice>
		</xsd:sequence>

	</xsd:complexType>

</xsd:schema>
